In [2]:
###Tuples- immutable/unmodifiable

In [3]:
a = (1,2,3)

In [4]:
a

(1, 2, 3)

In [11]:
L = [1,2,3,4,5]

In [10]:
a = tuple(L)

a

(1, 2, 3, 4)

In [13]:
L.append(6) #unmodifiable behaviour
a

(1, 2, 3, 4)

In [14]:
L

[1, 2, 3, 4, 5, 6]

In [16]:
M = list(L)
M

[1, 2, 3, 4, 5, 6]

In [17]:
L.append(7)
M

[1, 2, 3, 4, 5, 6]

In [18]:
#Put LIst inside a tuple
L2 = [4,5,6]
T = (L,L2)
T

([1, 2, 3, 4, 5, 6, 7], [4, 5, 6])

In [19]:
L2.append(10)
T

([1, 2, 3, 4, 5, 6, 7], [4, 5, 6, 10])

In [20]:
#Observation if we pass by A = tuple(L) then we pass as values so when we update L, A wont change
#But if we pass as T = (L,L2) it is passed by address/reference so when we change L,L2 T changes

In [23]:
T.count([4,5,6,10])

1

In [26]:
T.index([4,5,6,10])
T.index([1,2,3,4,5,6,7])

0

In [28]:
T2 = (1,2,3,3,4)
T2.count(3)
T2.index(2)

1

In [ ]:
#Swapping without a temp variable

In [32]:
def swapper(a,b):
    a,b = b,a
    return a,b
a = 10
b = 20
swapper(a,b)

(20, 10)

In [ ]:
#Packing and unpacking in Tuples

In [38]:
a = (1,2,3)
c,d,e = a
print(str(c) + str(d) + str(e))

123

In [39]:
n= 1,2 # if we simply give , it will consider as tuple

In [41]:
type(n)

tuple

In [ ]:
#a = (1,2,3) if we use *d it will take remaining elements

In [50]:
a = (1,2,3,4,5)
c,*d,e= a
d

[2, 3, 4]

In [51]:
c,*d =a
d

[2, 3, 4, 5]

In [53]:
*c,d= a
d

5

## Dictionary 
#Key Value Pair
Ordering will be for the key(eg - meaning of some word in dictionary)
Like array but we define our index
Key(searchable iteam should be unique, if we repeat a key , its value will be over written with latest value and old value will be deleted.
#Wat is hash?

In [62]:
a = {1:"One",2:"Two",1:"First","three":"3","1":"One"}
a

{1: 'First', 2: 'Two', 'three': '3', '1': 'One'}

In [56]:
a[1]

'First'

In [59]:
a["three"]

'3'

In [60]:
a.get(1)

'First'

In [61]:
a.get("three")

'3'

In [64]:
a.get(7) # null value

In [66]:
a.get(7,0)#to give default value if the element is not found
a.get(7,"no value")

'no value'

In [68]:
a.update({1:"Changes"})

In [69]:
a

{1: 'Changes', 2: 'Two', 'three': '3', '1': 'One'}

In [70]:
a.keys()

dict_keys([1, 2, 'three', '1'])

In [71]:
type(a.keys())

dict_keys

In [77]:
# Keys Example

In [78]:
for i in a.keys():
    print(i)

1
2
three
1

In [79]:
for i in a.keys():
    print(i,a.get(i))

1 Changes
2 Two
three 3
1 One

### Correct way of using dictionary- use items,Looping dictionary

In [80]:
a.items()

dict_items([(1, 'Changes'), (2, 'Two'), ('three', '3'), ('1', 'One')])

In [81]:
for k,v in a.items():
    if k == 1:
        print(k,v)

1 Changes

In [86]:
a.popitem() #last item

('1', 'One')

In [87]:
a.pop(2)
a

{1: 'Changes', 'three': '3'}

### Delete

In [88]:
a = {1,2,3}

In [89]:
del a
a

NameError: name 'a' is not defined

In [105]:
a = {1:100,2:100}

# use ":" and not "," for dictionary

In [113]:
def dictionary_doubler(a):
    b = dict()
    for k,v in a.items():
         b.update({k:2*v})
    return b
dictionary_doubler(a)

{1: 200, 2: 200}

In [121]:
c= {i:2*j for i,j in a.items()}
c

{1: 200, 2: 200}

In [122]:

b= dict(map(lambda(x:y:x,2*y,a.items())))

SyntaxError: invalid syntax (<ipython-input-122-433b8f836101>, line 2)

## File Handling

In [149]:
a = open("Filehandling/Sample.txt",mode = "w")

In [150]:
for i in range(10):
    a.write(" line")

In [151]:
a.close()

In [159]:
a = open("Filehandling/Sample.txt",mode = "r")

In [158]:
print(a.read())

 line line line line line line line line line line

In [160]:
for i in a :
    l = [i.split(" ")]
l

[['',
  'line',
  'line',
  'line',
  'line',
  'line',
  'line',
  'line',
  'line',
  'line',
  'line']]

## get count of words

In [182]:
a = open("Filehandling/Sample.txt",mode = "r")

In [180]:
print(a.read())

It was a really good performance; the guys are coming out and playing their roles. There was a little bit there for us with the overcast conditions and we did well to pick regular wickets. We learnt some harsh lessons against India as individuals. We've seen Nice performances in the last two matches, especially from Guptill in terms of taking the momentum from the previous game. Scoring back-t-back hundreds is freakish. It was nice to spend some time in the middle and I wanted to play straight and I wanted to assist his freedom.

## word count

In [187]:
def wordcount(b):
    dec = {}
    text = a.read().split()
    for i in text:
        dec[i]=dec.get(i,0)+1 #dec(It) = dec.get(i,o)=1+1
    print(dec)

In [189]:
a = open("Filehandling/Sample.txt",mode = "r")


wordcount(a)

{'It': 2, 'was': 3, 'a': 2, 'really': 1, 'good': 1, 'performance;': 1, 'the': 6, 'guys': 1, 'are': 1, 'coming': 1, 'out': 1, 'and': 4, 'playing': 1, 'their': 1, 'roles.': 1, 'There': 1, 'little': 1, 'bit': 1, 'there': 1, 'for': 1, 'us': 1, 'with': 1, 'overcast': 1, 'conditions': 1, 'we': 1, 'did': 1, 'well': 1, 'to': 4, 'pick': 1, 'regular': 1, 'wickets.': 1, 'We': 1, 'learnt': 1, 'some': 2, 'harsh': 1, 'lessons': 1, 'against': 1, 'India': 1, 'as': 1, 'individuals.': 1, "We've": 1, 'seen': 1, 'Nice': 1, 'performances': 1, 'in': 3, 'last': 1, 'two': 1, 'matches,': 1, 'especially': 1, 'from': 2, 'Guptill': 1, 'terms': 1, 'of': 1, 'taking': 1, 'momentum': 1, 'previous': 1, 'game.': 1, 'Scoring': 1, 'back-t-back': 1, 'hundreds': 1, 'is': 1, 'freakish.': 1, 'nice': 1, 'spend': 1, 'time': 1, 'middle': 1, 'I': 2, 'wanted': 2, 'play': 1, 'straight': 1, 'assist': 1, 'his': 1, 'freedom.': 1}

In [196]:
#using set
a = open("Filehandling/Sample.txt",mode = "r")
for i in a :
    l = i.split(" ")
type(l)
s = set(l)
s

{'',
 'Guptill',
 'I',
 'India',
 'It',
 'Nice',
 'Scoring',
 'There',
 'We',
 "We've",
 'a',
 'against',
 'and',
 'are',
 'as',
 'assist',
 'back-t-back',
 'bit',
 'coming',
 'conditions',
 'did',
 'especially',
 'for',
 'freakish.',
 'freedom.',
 'from',
 'game.',
 'good',
 'guys',
 'harsh',
 'his',
 'hundreds',
 'in',
 'individuals.',
 'is',
 'last',
 'learnt',
 'lessons',
 'little',
 'matches,',
 'middle',
 'momentum',
 'nice',
 'of',
 'out',
 'overcast',
 'performance;',
 'performances',
 'pick',
 'play',
 'playing',
 'previous',
 'really',
 'regular',
 'roles.',
 'seen',
 'some',
 'spend',
 'straight',
 'taking',
 'terms',
 'the',
 'their',
 'there',
 'time',
 'to',
 'two',
 'us',
 'wanted',
 'was',
 'we',
 'well',
 'wickets.',
 'with'}

In [195]:
l

['It',
 'was',
 'a',
 'really',
 'good',
 'performance;',
 'the',
 'guys',
 'are',
 'coming',
 'out',
 'and',
 'playing',
 'their',
 'roles.',
 'There',
 'was',
 'a',
 'little',
 'bit',
 'there',
 'for',
 'us',
 'with',
 'the',
 'overcast',
 'conditions',
 'and',
 'we',
 'did',
 'well',
 'to',
 'pick',
 'regular',
 'wickets.',
 'We',
 'learnt',
 'some',
 'harsh',
 'lessons',
 'against',
 'India',
 'as',
 'individuals.',
 "We've",
 'seen',
 'Nice',
 'performances',
 'in',
 'the',
 'last',
 'two',
 'matches,',
 'especially',
 'from',
 'Guptill',
 'in',
 'terms',
 'of',
 'taking',
 'the',
 'momentum',
 'from',
 'the',
 'previous',
 'game.',
 'Scoring',
 'back-t-back',
 'hundreds',
 'is',
 'freakish.',
 'It',
 'was',
 'nice',
 'to',
 'spend',
 'some',
 'time',
 'in',
 'the',
 'middle',
 'and',
 'I',
 'wanted',
 'to',
 'play',
 'straight',
 'and',
 'I',
 'wanted',
 'to',
 'assist',
 'his',
 'freedom.',
 '']