In [ ]:
#INDEX
1)Class
2)Hash
3)DB

In [40]:
class student:
    def __init__(self,id,name,age,year,dept):
        self.id = id
        self.name = name
        self.age = age
        self.year = year
        self.dept = dept
    def __eq__(self,a):
        print("calling eq function",self.id)
        return self.id == a.id # condition we give to compare with outside object
    def __repr__(self):#repr used to print objects
        return str(self.id)
    def __hash__(self):
        print('hash',self.id)
        return 1

In [53]:

a1 = student(1,'ashwin',23,1990,'cs')
a2 = student(1,'ashwin',23,1990,'cs')
a3 = student(2,'ashwin2',23,1990,'cs')
a4 = student(3,'ashwin3',23,1990,'cs')
a5 = student(4,'ashwin4',23,1990,'cs')
a6 = student(5,'ashwin5',23,1990,'cs')
a7 = student(1,'ashwin',23,1990,'cs')

In [33]:
L = [a1,a2]

In [34]:
L

[1, 1]

In [35]:
#Set _ Objects_not Remove duplicates when passing objects.

In [43]:
S = {a1,a2,a3,a4,a5,a6}
S

hash 1
hash 1
calling eq function 1
hash 2
calling eq function 1
hash 3
calling eq function 1
calling eq function 2
hash 4
calling eq function 1
calling eq function 2
calling eq function 3
hash 5
calling eq function 1
calling eq function 2
calling eq function 3
calling eq function 4

{1, 2, 3, 4, 5}

In [8]:
l = [1,2,3,1]
S = set(l)
S

{1, 2, 3}

In [ ]:
#Checking class with one parameter

In [13]:
class student_one:
    def __init__(self,name):
        self.name = name
    
a1 = student_one("a")
a2 = student_one("b")
S = {a1,a2}
S

{<__main__.student_one at 0x27f69296828>,
 <__main__.student_one at 0x27f69296898>}

In [14]:
#Checking for duplicates, now since same address it works.
a3 = a1
S = {a1,a3}
S

{<__main__.student_one at 0x27f69296898>}

## Define how to compare classes using the eq and hash function
hash is called first
then eq is called
hash is irreversible(conversion)
if hash says its not equal, we dont need to check equal , its definitely unequal.
hsh is a optimised way to check
now we ae gonna define new

In [48]:
class student:
    def __init__(self,id,name,age,year,dept):
        self.id = id
        self.name = name
        self.age = age
        self.year = year
        self.dept = dept
    def __eq__(self,a):
        print("calling eq function",self.id)
        return self.id == a.id # condition we give to compare with outside object
    def __repr__(self):#repr used to print objects
        return str(self.id)
    def __hash__(self):
        print('hash',self.id)
        return hash(str(self.id))

In [55]:
S = {a1,a2,a3,a4,a5,a6,a7}
S

hash 1
hash 1
calling eq function 1
hash 2
hash 3
hash 4
hash 5
hash 1
calling eq function 1

{1, 2, 3, 4, 5}

In [ ]:
#now hash has filtered everything ie no need to go to eq function

## DB

In [ ]:
DDL - create
DML - Insert(CRUD)
DCL - Grnt/revoke access
####OLAP and OLTP
Steps to connect to DB
1.Driver
2.Imort driver
3.connector object
4.execute

In [56]:
import sqlite3

In [57]:
con = sqlite3.connect("Test.DB")

In [58]:
sqlite3.connect?

In [64]:
create = """create table employee(
            ID int not null,
            Name text not null,
            age int not null,
            salary int not null)"""

In [63]:
con.execute(create)

OperationalError: near "or": syntax error

In [70]:
insert = '''insert into employee values(5,"Rahul",24,100000)'''
con.execute(insert)

In [74]:
ins = '''select * from employee'''

In [83]:
a = con.execute(ins)

In [84]:
for i in a:
    if i[3]>100000:
        print(i[1],i[3])

mahesh 150000
abu 250000
Shrikanth 500000

In [86]:
update = '''update employee set salary = 0 where age>30'''
a = con.execute(update)

In [87]:
for i in con.execute("select * from employee"):
    print(i)

(1, 'Ashwin', 28, 50000)
(2, 'mahesh', 38, 0)
(3, 'abu', 30, 250000)
(4, 'Shrikanth', 40, 0)
(5, 'Rahul', 24, 100000)

In [90]:
delete = '''delete from employee where name = "abu" '''
a = con.execute(delete)
for i in con.execute("select * from employee"):
    print(i)

(1, 'Ashwin', 28, 50000)
(2, 'mahesh', 38, 0)
(4, 'Shrikanth', 40, 0)
(5, 'Rahul', 24, 100000)

# Dynamic Queries
    Bind params
    to save sql injections(safety)
    checks syntax only once if we give ?

In [107]:
dq = '''select * from employee where ID = ? or name = ?'''

In [108]:
tp = (1,'mahesh')

In [109]:
a = con.execute(dq,tp)
for i in a:
    print(i)

(1, 'Ashwin', 28, 50000)
(2, 'mahesh', 38, 0)

In [ ]:
Next Class
Rest
install postman
flask
ui
import package